

.card-text-center {
   
    clear: both;

}

.card {
  display: block;
  float: left;
  margin: 50px;
  clear: both;

}

.form-container {
border: 25px outset rgb(23, 155, 73);
text-align: center;
margin: 550px;
margin-top: 25px;
padding: 25px;
padding-top: 100px;
width: 600px;
height: 800px;

}

.reviews-table {
    margin: 50px;
}

.figure {
    height:250px;
    width: 250px;
    float: left;
    margin: 150px;
}

.home-page-form-container {
border: 25px outset rgb(23, 155, 73);
text-align: center;
margin: 550px;
margin-top: 50px;
padding: 25px;
padding-top: 100px;
width: 800px;
height: 500px;
clear: both;
}

h1 {
    color: lightcoral;
}

#joinbtn:hover {
    background-color: lightcoral;
}



