

.card-text-center {
   
    clear: both;

}

.card {
    float: left;
    margin: 50px;
    margin-left: 125px;

}

.card-body {

  margin: 50px;
  clear: both;

}

.form-container {
border: 25px outset lightcoral;
text-align: center;
margin: 550px;
margin-top: 25px;
padding: 25px;
padding-top: 100px;
width: 600px;
height: 800px;

}

.reviews-table {
    margin: 50px;
}

.figure {
    height:250px;
    width: 250px;
    float: left;
    margin: 150px;
}

.home-page-form-container {
border: 25px outset lightcoral;
text-align: center;
margin: 550px;
margin-top: 50px;
padding: 25px;
padding-top: 100px;
width: 800px;
height: 500px;
clear: both;
}

h1 {
    color: lightcoral;
}

#joinbtn:hover {
    background-color: lightcoral;
}

.display-4 {

    font-family: 'Bungee Inline', cursive; 
}



